* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 600px;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 530px;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    text-align: center;
    padding-top: 190px;
    color: #34dfa8;
}

.header-content h1 {
    padding-top: 10px;
    font-size: 60px;
}

.main-para {
    padding-top: 10px;
}

.main-para h2 {
    font-size: 40x;
    padding-bottom: 20px;
}

.head-button {
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 15px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    font-size: 30px;
    margin-top: 80%;
}

/* Here is the complete of header part */
.donate {
    height: 400px;
    width: 100%;
}

.donate-content {
    text-align: center;
    padding-top: 70px;
}

.donate-content h1 {}

.donate-content p {
    padding-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.donate-amount {
    margin-top: 40px;
    display: block;
    margin-left: 200px;
}

.donate-main {
    text-align: center;
    margin-left: 45px;
    margin-top: 100px;
    margin-right: 45px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li h3 {
    display: inline-block;
    padding: 35px 25px;

}

#target {
    border: 5px solid rebeccapurple;
    background-color: rgb(204, 175, 233);
}

/* dfldjfldjfljd */
.other-amount {
    text-align: center;
    margin-bottom: 20px;
}


input {
    width: 60%;
    padding: 12px 20px;
    margin: 0px 0;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}


.amount {
    margin-top: 30px;
}

.donate-main {
    padding-top: 15px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.donate-main p {
    padding-top: 10px;
    padding-bottom: 45px;
}

.random-content {
    height: 350px;
}

.container {
    height: 340px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.div-one {
    padding-left: 10px;
    padding-top: 50px;
    float: left;
    width: 230px;
    height: 230px;
    background-color: rgb(163, 149, 149);
    text-align: justify;
    border-radius: 20px;
}

.div-one h3 {
    padding-top: 25px;
    padding-bottom: 15px;
}

.div-two {
    padding-left: 10px;
    padding-top: 50px;
    float: left;
    width: 230px;
    height: 230px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: antiquewhite;
    text-align: justify;
    border-radius: 20px;
}

.div-two h3 {
    padding-top: 25px;
    padding-bottom: 15px;
}

.div-three {
    padding-left: 10px;
    padding-top: 50px;
    float: right;
    width: 230px;
    height: 230px;
    background-color: burlywood;
    text-align: justify;
    border-radius: 20px;
}

.div-three h3 {
    padding-top: 25px;
    padding-bottom: 15px;
}

/* Here is the random-content completed */

.donation {
    display: flex;
}

.live-content {
    padding-top: 20px;
    width: 50%;
    height: 100px;
    border-color: red;
}

.live-content h2 {
    font-size: 40px;
    padding-bottom: 20px;
}

.live-content p {
    padding-bottom: 10px;
    padding-top: 10px;
}

.contribute-button {
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 15px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 40px;
    font-size: 20px;
}

/* Here is the donation completed */
.suvive-need {
    display: flex;
}

.suvive {
    padding-top: 60px;
    width: 50%;
    height: 100px;
    border-color: red;
}

.suvive h2 {
    font-size: 40px;
    padding-bottom: 20px;
}

.suvive p {
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Here is completed suvive */
/* Here is massage tag start 
.massage */
.massage {
    text-align: center;
    margin-top: 80px;

}

.massage h1 {
    padding-top: 10px;
    font-size: 40px;
    color: rgb(48, 180, 106);


}

.massage {
    color: rgb(27, 17, 27);
}

/* Here is completed the massage */
.updates {
    text-align: center;
}

.updates h1 {
    padding-bottom: 20px;
    font-size: 40px;
}

.updates p {
    margin-left: 30%;
    margin-right: 20%;
    margin-bottom: 30px;
    text-align: justify;
}

.last-div {
    height: 90px;
    width: 60%;

}

.finish {
    margin: 50px;
}

#username {
    padding-top: 40px;
}

.footer {
    width: 100%;

    height: 100px;
    background-color: gray;
}

.footer h1 {
    text-align: center;
    font-size: 30px;
    color: salmon;
    padding-top: 15px;
}

.footer p {
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
}